@blackColor: #2f2f2f;

* {
  font-family: 'Helvetica';
  margin: 0px;
  padding: 0px;
  outline: none;
  list-style: none;
}

body {
	color: @blackColor;
}

.container{
    width: 1300px;
}

@import './layouts/welcome-block.less';
@import './layouts/side-menu.less';
@import './layouts/header.less';
@import './layouts/surah-block.less';