@blackColor: #2f2f2f;

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}

body {
	color: @blackColor;
}

.hide {
	display: none;
}

@import './layouts/welcome-block.less';
@import './layouts/said.less';