* {
  font-family: Helvetica Neue;
  margin: 0px;
  padding: 0px;
}



.welcome-block {
  position: relative;
  height: 100vh;
  background-image: url("../img/backgroundimage.png") transparent;
  background-color: #b3cde8;
  
  
 
 

  

  &__logo-big {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    


    button {
      background: transparent;
      margin-top: 40px;
      border: 1px solid white;
      border-radius: 6px;
      width: 100%;
      padding: 14px;
      display: block;
      color: white;
      font-size: 19px;
      transition: 0.5s;
    }

    button:hover {
      color: #b3cde8;
      background-color: white;
      transition: 0.5s;
      cursor: pointer;
      
    }

    

  }

    

  }


