.welcome-block {
  position: relative;
  height: 100vh;
  background-image: url("../img/backgroundimage.png") transparent;
  background-color: #b3cde8;
  

  &__logo-big {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      background: transparent;
      margin-top: 40px;
      border: 1px solid white;
      border-radius: 6px;
      width: 100%;
      padding: 15px;
      display: block;
      color: white;
      font-size: 19px;
      letter-spacing: 0.3px;
      transition: 0.3s;
      font-weight: 500;
    }

    button:hover {
      color: #b3cde8;
      background-color: white;
      cursor: pointer;
      
    }

  }

  &__hamburger {
      margin:20px;
      cursor: pointer;
      height: 20px;
      width: 23px;
      transition: all 0.5s;
      display: inline-block;
      position: relative;

      .line {
        background-color: white;
        height: 2px;
        width: 23px;
        transform: translateY(6px);
        transition: all 0.5s;
      }

      .line:after {
        display: block;
        content: '';
        transform: translateY(-8px);
        background-color: white;
        height: 2px;
        width: 23px;
        transition: all 0.5s;
        transform-origin: 60% 0;
      }

      .line:before {
        display: block;
        content: '';
        transform: translateY(6px);
        background-color: white;
        height: 2px;
        width: 23px;
        transition: all 0.5s;
        transform-origin: 50% 100%;
      }

      &--active .line:after,
       &--active .line:before {
          transform: translateY(0);
          background-color: black;
      }
       

      &--active .line:after {
           transform: rotate(45deg);
      }

      &--active .line:before {
           transform: rotate(-45deg);
      }

      &--active .line {
           height: 0;
           background-color: black;
      }


  }

  &__language {
    margin: 20px;
    float: right;
    color: white;
    cursor: pointer;

  }

  &__menu {
    width: 260px;
    height: 100%;
    background-color: #f0f2f8;
    position: absolute;
    left: -300px;
    transition: all 0.5s;

    li {
      padding: 120px 50px;

      a {
        margin-bottom: 16px; 
        display: block;
        text-decoration: none;
        color: @blackColor;
        letter-spacing: 0.7px;
        font-weight: 600;

      }
      
    }

    &--show {
      left: 0;
      box-shadow: 2px -1px 20px 0px rgba(0, 0, 0, 0.5);
      background: #f0f2f8; 
    }

  }

  




}

